In [1]:
########################################################################################################
#Tiago Tambonis - 2017 - 2018 - 2019 
#Objetivo: Salvar dados no formato libsvm
########################################################################################################

In [2]:
import pickle
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
#Carregar dados processados 

with open('Dados/DadosTreino', 'rb') as fp:
        DadosTreino = pickle.load(fp)

with open('Dados/DadosTeste', 'rb') as fp:
        DadosTeste = pickle.load(fp)
        
DadosTreino_backup = DadosTreino

In [4]:
#Dividir classes e características

y_treino = np.array(DadosTreino['Classe'])           
y_teste = np.array(DadosTeste['Classe'])                         

X_treino = DadosTreino.drop(['Classe'], 1)
X_teste = DadosTeste.drop(['Classe'], 1)
X_treino_efetivo = np.copy(X_treino)

In [5]:
print(DadosTreino.shape)
print(DadosTeste.shape)

(14103, 255)
(1568, 255)

In [6]:
#Normalização

normalizar = True

if normalizar:

        scaler = StandardScaler()
        X_treino = scaler.fit(X_treino).transform(X_treino)
        X_teste = scaler.transform(X_teste)

In [7]:
if True: #Conversão ao libsvm.
    
    from sklearn.datasets import dump_svmlight_file
    
    dump_svmlight_file(X_treino_efetivo, y_treino, 'Dados/DadosTreinoStandarScalerlibsvm',
                       zero_based=True, multilabel=False)
    
    dump_svmlight_file(X_teste, y_teste, 'Dados/DadosTesteStandarScalerlibsvm',
                       zero_based=True, multilabel=False)

libsvm uses the so called "sparse" format where zero values do not need to be stored. Hence a data with attributes

1 0 2 0

is represented as

1:1 3:2

Due to this, zero_based=True

In [8]:
print("OK")

OK

# Teste para checar normalização

In [9]:
DadosTreino_backup.head()

,WC,EE,AN,VG,QP,WM,VP,IY,AW,LA,...,NP,SH,CM,CW,YQ,AM,LS,WL,SA,Classe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001337,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001337,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0016,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0

In [10]:
np.mean(DadosTreino_backup['IY'])

3.962887013416024e-05

In [11]:
np.std(DadosTreino_backup['IY'])

0.00022897863850957588

In [12]:
pd.DataFrame((DadosTreino_backup['IY'] - np.mean(DadosTreino_backup['IY']))/(np.std(DadosTreino_backup['IY']))).head()

         IY
0 -0.173068
1  5.666007
2  5.666007
3 -0.173068
4 -0.173068

In [15]:
X_treino[0:5,7]

array([-0.17306798,  5.6660069 ,  5.6660069 , -0.17306798, -0.17306798])

In [18]:
print(DadosTreino.shape)
print(DadosTeste.shape)

(14103, 255)
(1568, 255)