In [1]:
########################################################################################################
#Tiago Tambonis - 2017 - 2018 - 2019 
#Objetivo: converter dataframe para WEKA
########################################################################################################

In [3]:
import pickle 
import arff

In [5]:
#Carregar dados 

if False: 

    with open('../Sequencias/DadosTreinoFeaturizados', 'rb') as fp:
            DadosTreinoFeaturizados = pickle.load(fp)
    #with open('../Sequencias/DadosTesteFeaturizados', 'rb') as fp:
    #        DadosTesteFeaturizados = pickle.load(fp)

if True: 

    with open('../Sequencias/DadosTreinoCru', 'rb') as fp:
            DadosTreinoFeaturizados = pickle.load(fp)
    #with open('../Sequencias/DadosTesteCru', 'rb') as fp:
    #        DadosTesteFeaturizados = pickle.load(fp)

In [7]:
print(DadosTreinoFeaturizados.shape)
#print(DadosTesteFeaturizados.shape)

(14103, 401)

In [8]:
DadosTreinoFeaturizados.head(n=3)

,GW,GV,GT,GS,GR,GQ,GP,GY,GG,GF,...,AQ,AP,AS,AR,AT,AW,AV,AY,VK,Classe
0,0.0,5.26,5.26,0.0,0.0,0.0,0.00,0.0,5.26,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,5.26,0.0,1.0
1,0.0,5.26,0.00,0.0,0.0,0.0,0.00,0.0,5.26,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,1.0
2,0.0,0.00,0.00,0.0,0.0,0.0,5.26,0.0,0.00,0.0,...,0.0,5.26,0.0,0.0,0.0,0.0,0.0,0.00,0.0,1.0

In [23]:
#git clone https://github.com/saurabhnagrecha/Pandas-to-ARFF.git

#You can do this in 2 ways. First is just to import the specific function you want from file.py. To do this use

#from file import function

#Another way is to import the entire file

#import file as fl

#Then you can call any function inside file.py using

#fl.function(a,b)


from pandas2arff import pandas2arff

In [ ]:
pandas2arff(df=DadosTreinoFeaturizados, filename="DadosTreinoFeaturizadosWeka.WEKA", 
            wekaname="DadosTreinoFeaturizadosWeka", cleanstringdata=True, cleannan=True)