In [1]:
##############################################
#Featurização utilizando mrmr.
#Tiago Tambonis.
#2018/2019
##############################################

In [2]:
#Imports 

import pandas as pd
import pickle
from subprocess import call
import numpy as np

#random_state=101

In [3]:
def featlibsvm(DadosTreinoCru): #Salvar formato libsvm antes do preprocessamento
    
    #Manipular as features para adequar ao mrmr.

    featuresmrmr = []
    featuresmrmr.append(DadosTreinoCru.shape[1]-1)
    for i in range(DadosTreinoCru.shape[1]-1):
        featuresmrmr.append(i)

    featuresmrmr = DadosTreinoCru.columns.values[featuresmrmr]
    
    DadosTreinomrmrCSV = DadosTreinoCru[featuresmrmr]

    normalizar = True

    if normalizar: #Normalizar?
        from sklearn.preprocessing import StandardScaler
        scaler = StandardScaler()
        y_treino_cru = np.array(DadosTreinoCru['Classe'])
        X_treino_cru = np.array(DadosTreinoCru.drop(['Classe'], 1))
        DadosTreinomrmrCSV = pd.DataFrame(np.column_stack((y_treino_cru, 
                             scaler.fit_transform(X_treino_cru))), 
                             columns=DadosTreinomrmrCSV.columns)

    #Salvar no formato adequado ao mrmr. 
    #data_converted_csv = data_converted_csv.sample(frac=1.0) #Random data
    DadosTreinomrmrCSV.to_csv("DadosTreinoCruCSVmrmr.csv", header=True, index=False)
    print("Shape")
    print(DadosTreinomrmrCSV.shape)
    
    #return(DadosTreinomrmrCSV)

In [30]:
#mrmr

call("./Comandosmrmr")

0

In [31]:
#Leitura das características selecionados pelo mrmr.

selectedfeaures = pd.read_csv("OutputmRMRGaribado", header=None, sep=" ")
selectedfeaures.columns = ["Features", "Valores"]

#np.where(selectedfeaures.isnull()==True)
#selectedfeaures['Features'][215:217]

In [32]:
selectedfeaures = selectedfeaures.sort_values(['Valores'], ascending=False)

In [33]:
selectedfeaures.loc[selectedfeaures.shape[0]] = ['Classe', 'NA']

In [34]:
selectedfeaures = selectedfeaures[selectedfeaures['Valores'] >= 0]

In [35]:
selectedfeaures.head(n=3)

  Features Valores
0       WC    0.01
1       EE   0.009
2       AN   0.006

In [36]:
selectedfeaures.tail(n=3)

    Features Valores
175       WL       0
176       SA       0
400   Classe      NA

In [37]:
selectedfeaures.shape

(255, 2)

# Featurização

In [38]:
#Carregar dados processados 

with open('DadosTreinoCru', 'rb') as fp:
        DadosTreinoCru = pickle.load(fp)

with open('DadosTesteCru', 'rb') as fp:
        DadosTesteCru = pickle.load(fp)

In [39]:
DadosTreinoCru.shape

(14103, 401)

In [40]:
DadosTreinoCru.head(n=3)

,GW,GV,GT,GS,GR,GQ,GP,GY,GG,GF,...,AQ,AP,AS,AR,AT,AW,AV,AY,VK,Classe
0,0.0,5.26,5.26,0.0,0.0,0.0,0.00,0.0,5.26,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,5.26,0.0,1.0
1,0.0,5.26,0.00,0.0,0.0,0.0,0.00,0.0,5.26,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,1.0
2,0.0,0.00,0.00,0.0,0.0,0.0,5.26,0.0,0.00,0.0,...,0.0,5.26,0.0,0.0,0.0,0.0,0.0,0.00,0.0,1.0

In [41]:
DadosTesteCru.shape

(1568, 401)

In [42]:
DadosTesteCru.head(n=3)

,GW,GV,GT,GS,GR,GQ,GP,GY,GG,GF,...,AQ,AP,AS,AR,AT,AW,AV,AY,VK,Classe
0,0.0,0.00,0.0,0.0,0.0,5.26,0.0,0.0,5.26,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,-1.0
1,0.0,5.26,0.0,0.0,0.0,0.00,0.0,0.0,5.26,0.0,...,0.0,0.0,0.0,5.26,0.0,0.0,0.0,0.0,0.0,-1.0
2,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,-1.0

In [43]:
#Featurização

DadosTreinoFeaturizados = DadosTreinoCru[selectedfeaures['Features']]
DadosTesteFeaturizados = DadosTesteCru[selectedfeaures['Features']]

In [44]:
DadosTreinoFeaturizados.shape

(14103, 255)

In [45]:
DadosTreinoFeaturizados.head(n=3)

,WC,EE,AN,VG,QP,WM,VP,IY,AW,LA,...,NP,SH,CM,CW,YQ,AM,LS,WL,SA,Classe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.26,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.26,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [46]:
DadosTesteFeaturizados.shape

(1568, 255)

In [47]:
DadosTesteFeaturizados.head(n=3)

,WC,EE,AN,VG,QP,WM,VP,IY,AW,LA,...,NP,SH,CM,CW,YQ,AM,LS,WL,SA,Classe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,-1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.26,-1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,-1.0

In [48]:
with open("DadosTreinoFeaturizados", "wb") as fp:   #Pickling
    pickle.dump(DadosTreinoFeaturizados, fp)  
    
with open("DadosTesteFeaturizados", "wb") as fp:   #Pickling
    pickle.dump(DadosTesteFeaturizados, fp)

In [49]:
print ("OK.")

OK.